docs_dir: 'docs'
site_url: "https://blog.privacyguides.org/"
site_dir: 'site'

site_name: Privacy Guides
site_description: |
  Privacy Guides is your central privacy and security resource to protect yourself online.
copyright: |
  <b>Privacy Guides</b> is a non-profit, socially motivated website that provides information for protecting your data security and privacy.<br>
  &copy; 2022 Privacy Guides and contributors. <a href="https://www.privacyguides.org/about/privacy-policy/">Privacy Policy</a>.

extra:
  generator: false
  analytics:
    provider: plausible
    property: blog.privacyguides.org
  social:
    - icon: simple/matrix
      link: https://matrix.to/#/#privacyguides:matrix.org
      name: Matrix
    - icon: simple/discourse
      link: https://discuss.privacyguides.org/
      name: Forum
    - icon: simple/mastodon
      link: https://mastodon.social/@privacyguides
      name: Mastodon
    - icon: simple/rss
      link: /feed_rss_created.xml
      name: RSS

repo_url: https://github.com/privacyguides/blog.privacyguides.org
repo_name: ""
edit_uri: edit/main/docs/

theme:
  name: material
  custom_dir: theme
  logo: assets/brand/SVG/Logo/privacy-guides-logo-notext-colorbg.svg
  favicon: assets/brand/PNG/Favicon/favicon-32x32.png
  language: en
  icon:
    repo: simple/github
  font: false
  features:
    - navigation.tracking
    - navigation.tabs
    - navigation.sections
    - content.tooltips
    - search.highlight
  palette:
    - media: "(prefers-color-scheme)"
      scheme: default
      accent: deep purple
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      accent: amber
      toggle:
        icon: material/brightness-2
        name: Switch to system theme
    - media: "(prefers-color-scheme: light)"
      scheme: default
      accent: deep purple
      toggle:
        icon: material/brightness-5
        name: Switch to dark mode

watch:
  - theme

plugins:
  meta: {}
  privacy:
    external_assets_exclude:
      - cdn.jsdelivr.net/npm/mathjax@3/*
      - api.privacyguides.net/*
      - giscus.app/*
  social:
    cards: !ENV [CARDS, false]
    cards_color:
      fill: "#FFD06F"
      text: "#2d2d2d"
    cards_dir: assets/img/social
    cards_font: 'Public Sans'
  blog:
    blog_dir: .
    categories_allowed:
      - Announcements
      - Opinion
      - Software
      - Hardware
      - Android
      - iOS
      - Linux
      - macOS
      - Windows
      - Qubes OS
      - Providers
  rss:
    match_path: posts/.*
    abstract_chars_count: -1
    date_from_meta:
      as_creation: date
    categories:
      - categories
      - tags
  tags:
    tags_file: tags.md
  search: {}

markdown_extensions:
  admonition: {}
  pymdownx.details: {}
  pymdownx.superfences:
    custom_fences:
      - name: mermaid
        class: mermaid
        format: !!python/name:pymdownx.superfences.fence_code_format
  pymdownx.tabbed:
    alternate_style: true
  pymdownx.arithmatex:
    generic: true
  pymdownx.critic: {}
  pymdownx.caret: {}
  pymdownx.keys: {}
  pymdownx.mark: {}
  pymdownx.tilde: {}
  pymdownx.snippets:
    auto_append:
      - includes/abbreviations.en.md
  pymdownx.tasklist:
    custom_checkbox: true
  attr_list: {}
  def_list: {}
  md_in_html: {}
  meta: {}
  abbr: {}
  pymdownx.emoji:
    emoji_index: !!python/name:materialx.emoji.twemoji
    emoji_generator: !!python/name:materialx.emoji.to_svg
    options:
      custom_icons:
        - theme/.icons
  tables: {}
  footnotes: {}
  toc:
    permalink: true
    toc_depth: 4

extra_css:
  - assets/stylesheets/extra.css?v=2.10.0
extra_javascript:
  - assets/javascripts/mathjax.js
  - assets/javascripts/feedback.js

nav:
  - Home: 'https://www.privacyguides.org/'
  - 'Knowledge Base': 'https://www.privacyguides.org/kb/'
  - 'Recommendations': 'https://www.privacyguides.org/tools/'
  - 'About': 'https://www.privacyguides.org/about/'
  - 'Donate': 'https://www.privacyguides.org/about/donate/'
  - 'Forum': 'https://discuss.privacyguides.org/'
  - Blog:
    - 'index.md'
    - 'tags.md'
