{% extends "main.html" %}

{% import "partials/nav-item.html" as item with context %}

<!-- Page content -->
{% block container %}
  <div class="md-content md-content--post" data-md-component="content">

    <!-- Sidebar -->
    <div
      class="md-sidebar md-sidebar--post"
      data-md-component="sidebar"
      data-md-type="navigation"
    >
      <div class="md-sidebar__scrollwrap">
        <div class="md-sidebar__inner md-post">
          <nav class="md-nav">

            <!-- Back to overview link -->
            <div class="md-post__back">
              <div class="md-nav__title md-nav__container">
                <a href="{{ page.parent.url | url }}" class=" md-nav__link">
                  {% include ".icons/material/arrow-left.svg" %}
                  <span class="md-ellipsis">
                    {{ lang.t("blog.index") }}
                  </span>
                </a>
              </div>
            </div>

            <!-- Page authors -->
            {% if page.authors %}
              <div class="md-post__authors md-typeset">
                {% for author in page.authors %}
                  <div class="md-profile md-post__profile">
                    <span class="md-author md-author--long">
                      <img src="{{ author.avatar }}" alt="{{ author.name }}" />
                    </span>
                    <span class="md-profile__description">
                      <strong>{{ author.name }}</strong><br />
                      {{ author.description }}
                    </span>
                  </div>
                {% endfor %}
              </div>
            {% endif %}

            <!-- Page metadata -->
            <ul class="md-post__meta md-nav__list">
              <li class="md-nav__item md-nav__title">
                <div class="md-nav__link">
                  <span class="md-ellipsis">
                    {{ lang.t("blog.meta") }}
                  </span>
                </div>
              </li>

              <!-- Page date -->
              <li class="md-nav__item">
                <div class="md-nav__link">
                  {% include ".icons/material/calendar.svg" %}
                  <time datetime="{{ page.meta.date }}" class="md-ellipsis">
                    {{- page.meta.date_format -}}
                  </time>
                </div>
              </li>

              <!-- Page categories -->
              {% if page.categories %}
                <li class="md-nav__item">
                  <div class="md-nav__link">
                    {% include ".icons/material/bookshelf.svg" %}
                    <span class="md-ellipsis">
                      {{ lang.t("blog.categories.in") }}
                      {% for category in page.categories %}
                        <a href="{{ category.url | url }}">
                          {{- category.title -}}
                        </a>
                        {%- if loop.revindex > 1 %}, {% endif -%}
                      {% endfor -%}
                    </span>
                  </div>
                </li>
              {% endif %}

              <!-- Page readtime -->
              {% if page.meta.readtime %}
                {% set time = page.meta.readtime %}
                <li class="md-nav__item">
                  <div class="md-nav__link">
                    {% include ".icons/material/clock-outline.svg" %}
                    <span class="md-ellipsis">
                      {% if time == 1 %}
                        {{ lang.t("readtime.one") }}
                      {% else %}
                        {{ lang.t("readtime.other") | replace("#", time) }}
                      {% endif %}
                    </span>
                  </div>
                </li>
              {% endif %}

              <!-- Post license -->
                <li class="md-nav__item">
                    <div class="md-nav__link">
                    {% if page.meta.license == "BY" or page.meta.license == "BY-SA" or page.meta.license == "BY-NC" or page.meta.license == "BY-NC-SA" or page.meta.license == "BY-SA" or page.meta.license == "BY-ND" or page.meta.license == "BY-NC-ND" %}
                        {% include ".icons/material/creative-commons.svg" %}
                        <span class="md-ellipsis">
                            <a href="https://creativecommons.org/licenses/{{ page.meta.license|lower }}/4.0/">{{ page.meta.license }} 4.0</a>
                        </span>
                    {% elif page.meta.license == "CC0" %}
                        {% include ".icons/fontawesome/brands/creative-commons-zero.svg" %}
                        <span class="md-ellipsis">
                            <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 (Public domain)</a>
                        </span>
                    {% elif page.meta.license == "Public domain" %}
                        {% include ".icons/fontawesome/brands/creative-commons-pd.svg" %}
                        <span class="md-ellipsis">
                            <a href="https://creativecommons.org/publicdomain/zero/1.0/">Public domain</a>
                        </span>
                    {% elif page.meta.license %}
                        {% include ".icons/material/scale-balance.svg" %}
                        <span class="md-ellipsis">
                            {{ page.meta.license }}
                        </span>
                    {% else %}
                        {% include ".icons/material/copyright.svg" %}
                        <span class="md-ellipsis">
                            All rights reserved
                        </span>
                    {% endif %}
                    </div>
                </li>
            </ul>

            <!-- Page links -->
            {% if page.links %}
              <ul class="md-nav__list">
                <li class="md-nav__item md-nav__title">
                  <div class="md-nav__link">
                    <span class="md-ellipsis">
                      {{ lang.t("blog.references") }}
                    </span>
                  </div>
                </li>

                <!-- Render page links -->
                {% for nav_item in page.links %}
                  {% set path = "__ref_" ~ loop.index %}
                  {{ item.render(nav_item, path, 1) }}
                {% endfor %}
              </ul>
            {% endif %}
          </nav>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <article class="md-content__inner md-typeset">
      {% block content %}
        {% include "partials/content.html" %}
      {% endblock %}
    </article>
  </div>
{% endblock %}
